﻿@model AjaxPaging.Helpers.PagedData<AjaxPaging.Models.Person>
@{
}


        @foreach (var person in Model.Data)
        {
            <tr>
                <td>
                    @person.Forename
                </td>
                <td>
                    @person.Surname
                </td>
                <td>
                    @person.Country
                </td>
            </tr>
        }

<script>
   
      $(function () {
        //raise paging data
          window.dispatchEvent(new CustomEvent('Paging_Control_@Model.Request.Guid', { detail: { CurrentPage: @Model.CurrentPage, NumberOfPages: @Model.NumberOfPages, TotalEntries:@Model.TotalEntries, PageSize:@Model.Request.PageSize, FilterdEntries:@Model.FilterdEntries } }));
    
    
    });
  
</script>