﻿@{ 
    var guid = Guid.NewGuid().ToString().Replace("-","");
}
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div style="margin-bottom:5px;">
        <input type="text" class="form-control" id="KeySearch_@guid" placeholder="Type to search" />
    </div>

    <div id="table-@guid" class="shadow-lg p-3 mb-5 bg-white rounded">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class=" col-sort-@(guid)" sort-data="forename">
                        Forename
                    </th>
                    <th class=" col-sort-@(guid)" sort-data="surname">
                        Surname
                    </th>
                    <th class=" col-sort-@(guid)" sort-data="location">
                        Location
                    </th>
                </tr>
            </thead>
            <tbody id="table-body-@guid"></tbody>
        </table>
    </div>
    <div class="row container-fluid" >
        <div class="" id="table-found-@guid"></div>
        <div id="table-paging-@guid" class="col text-right">
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/_TableGeneral.cshtml", new AjaxPaging.Helpers.PagedRequest { Guid = guid, AjaxToGetTableBody = Url.Action("PersonListPaged","Person") })