﻿@model AjaxPaging.Helpers.PagedRequest
@{ 
    var guid = Model.Guid;
}
<script type="text/javascript">

    var currentPage_@guid= 1;
    window['sort_@guid']  = new Array();
    $(function () {
        //Load data for the first time
        loadData_@(guid)();
        //get the col sort
        $('.col-sort-@(guid)').on('click', function () {
           window['sort_@guid']  = new Array();
            var currentSort = {};
            currentSort.SortData = $(this).attr('sort-data');
            //console.log($(this).attr('sort-data'));
            if ($(this).attr('sort-dir') == undefined || $(this).attr('sort-dir') == null) {
                $(this).attr('sort-dir', 'asc');
            }
            //console.log($(this).attr('sort-dir'));
            currentSort.SortDir = $(this).attr('sort-dir');
            window['sort_@guid'].push(currentSort);
            if ($(this).attr('sort-dir') == 'asc') {
                $(this).attr('sort-dir', 'desc');
            }
            else if ($(this).attr('sort-dir') == 'desc') {
                $(this).attr('sort-dir', 'asc');
            }
            loadData_@(guid)();
        });

    });
    function loadData_@(guid)() {
        @*$.ajax({
            type: 'POST',
            url: '@Model.AjaxToGetTableBody',
            dataType: 'json',
            data: { "page": currentPage_@guid, guid: '@guid', keySearch: $('#KeySearch_@guid').val(), SortRequest: window['sort_@guid'] },
            success: function (data) {
                debugger;
                $("#table-body-@guid").html(data);

            }
        });*@

        var jqxhr = $.post('@Model.AjaxToGetTableBody', { "page": currentPage_@guid, guid: '@guid', keySearch: $('#KeySearch_@guid').val(), SortRequest: window['sort_@guid'] },
            function (tbodyContent) {
                $("#table-body-@guid").html(tbodyContent);
            })
            .done(function () {
            })
            .fail(function () {

            })
            .always(function () {
            });
    }
    //set up event handler
    function raisePageClick_@(guid)(pageNum, event) {
        currentPage_@guid = pageNum;
        loadData_@(guid)();
        try {
            event.stopPropagation();
        }
        catch (e) {
            console.log(e);
        }
        return false;
    }

    $("#KeySearch_@guid").on("keyup", function () {
        setTimeout(function () {
            loadData_@(guid)();
        }, 300);

    });
    function buildPagingControl_@(guid)(request) {
          currentPage_@guid = request.CurrentPage;
        $('#table-paging-@guid').html('');

        if (request.TotalEntries != undefined && request.TotalEntries > 0) {
            var keySearch = $("#KeySearch_@guid").val();
            if (keySearch != null) {
                keySearch = keySearch.trim();
            }
            if (keySearch != null && keySearch.length > 0) {
                //Build: Showing 1 to 10 of 68 entries (filtered from 105 total entries)
                var from = (request.CurrentPage - 1) * request.PageSize + 1;
                var to = from + request.PageSize - 1;
                if (to > request.FilterdEntries) {
                    to = request.FilterdEntries;
                };
                $('#table-found-@guid').html('Showing ' + from.toString() + ' to ' + to.toString() + ' of ' + request.FilterdEntries + ' entries (filtered from ' + request.TotalEntries + ' total entries)');
            }
            else {
                var from = (request.CurrentPage - 1) * request.PageSize + 1;
                var to = from + request.PageSize - 1;
                if (to > request.TotalEntries) {
                    to = request.TotalEntries;
                };
                $('#table-found-@guid').html('Showing ' + from.toString() + ' to ' + to.toString() + ' of ' + request.TotalEntries + ' entries ');
            }

        }
        else {
            $('#table-found-@guid').html('No data found ');
        }
        if (request.NumberOfPages != undefined && request.NumberOfPages != null)
        {


            var content = '<nav aria-label="Page navigation example">';

            content += '<ul class="pagination justify-content-end">';

            for (var i = 1; i <= request.NumberOfPages; i++) {
                if (i == request.CurrentPage) {
                    content += '<li class="page-item active">';
                    content += '<a class="page-link" href="javascript:void(0)">' + i.toString() + ' <span class="sr-only">(current)</span></a>';
                    content += '</li>';
                }
                else {
                    content += '<li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="raisePageClick_@(guid)(' + i.toString() + ',event)">' + i.toString() + '</a ></li >';
                }

            }
            content += '</ul >';
            content += '</nav >';
            $('#table-paging-@guid').html(content);
        }

    }
    window.addEventListener('Paging_Control_@(guid)', function (e) {
        var request = e.detail;
        buildPagingControl_@(guid)(request);
    });

</script>