﻿@model AjaxPaging.Helpers.PagedData<AjaxPaging.Models.Product>
@{
}


        @foreach (var p in Model.Data)
        {
<tr>
    <td>
        @p.ProductId
    </td>
    <td>
        @p.ProductName
    </td>
    <td>
        @p.ProductCategory
    </td>
</tr>
        }

<script>
   
      $(function () {
        //raise paging data
          window.dispatchEvent(new CustomEvent('Paging_Control_@Model.Request.Guid', { detail: { CurrentPage: @Model.CurrentPage, NumberOfPages: @Model.NumberOfPages, TotalEntries:@Model.TotalEntries, PageSize:@Model.Request.PageSize, FilterdEntries:@Model.FilterdEntries } }));
    
    
    });
  
</script>