﻿@{
    ViewBag.Title = "Home Page";
}
<h2>People</h2>
Demo a way to use server-side paging and some ajax method

@Html.Partial("~/Views/Person/PersonList.cshtml",null)

<div>
    See another example with Product page <a href="@Url.Action("Index","Product")"></a>
</div>
@Html.Partial("~/Views/Product/ProductList.cshtml", null )