﻿@{ 
    var guid = Guid.NewGuid().ToString().Replace("-","");
}
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div style="margin-bottom:5px;">
        <input type="text" class="form-control" id="KeySearch_@guid" placeholder="Type to search" />
    </div>

    <div id="table-@guid" class="shadow-lg p-3 mb-5 bg-white rounded">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="">
                        Forename
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Location
                    </th>
                </tr>
            </thead>
            <tbody id="table-body-@guid"></tbody>
        </table>
    </div>
    <div class="row container-fluid" >
        <div class="" id="table-found-@guid"></div>
        <div id="table-paging-@guid" class="col text-right">
        </div>
    </div>
</div>

<script type="text/javascript">
    var currentPage_@guid= 1;
    $(function () {
        //Load data for the first time
           $.ajax({
                url: '@Url.Action("PersonListPaged")',
                data: { "page": currentPage_@guid,guid:'@guid' },
               success: function (data) {
                   $("#table-body-@guid").html(data);
               }
        });
    });
    //set up event handler 
    function raisePageClick_@(guid)(pageNum) {
        currentPage_@guid = pageNum;
        $.ajax({
            url: '@Url.Action("PersonListPaged")',
            data: { "page": pageNum, guid: '@guid', keySearch: $('#KeySearch_@guid').val() },
            success: function (data) {
                $("#table-body-@guid").html(data);

            }
        });
    }

    $("#KeySearch_@guid").on("keyup", function () {
        setTimeout(function () {
                $.ajax({
                url: '@Url.Action("PersonListPaged")',
                  data: { "page": currentPage_@guid, guid: '@guid', keySearch: $('#KeySearch_@guid').val() },
                success: function (data) {
                    $("#table-body-@guid").html(data);

                }
            });
        }, 300);

         
    });

    window.addEventListener('Paging_Control_@(guid)', function (e) {
        var request = e.detail;
        currentPage_@guid = request.CurrentPage;
        $('#table-paging-@guid').html('');
        
        if (request.TotalEntries != undefined && request.TotalEntries > 0) {
            var keySearch = $("#KeySearch_@guid").val();
            if (keySearch != null) {
                keySearch = keySearch.trim();
            }
            if (keySearch != null && keySearch.length > 0) {
                //Build: Showing 1 to 10 of 68 entries (filtered from 105 total entries)
                var from = (request.CurrentPage - 1) * request.PageSize + 1;
                var to = from + request.PageSize - 1;
                if (to > request.FilterdEntries) {
                    to = request.FilterdEntries;
                };
                $('#table-found-@guid').html('Showing ' + from.toString() + ' to ' + to.toString() + ' of ' + request.FilterdEntries + ' entries (filtered from ' + request.TotalEntries + ' total entries)');
            }
            else {
                var from = (request.CurrentPage - 1) * request.PageSize + 1;
                var to = from + request.PageSize - 1;
                if (to > request.TotalEntries) {
                    to = request.TotalEntries;
                };
                $('#table-found-@guid').html('Showing ' + from.toString() + ' to ' + to.toString() + ' of ' + request.TotalEntries + ' entries ');
            }

        }
        else {
            $('#table-found-@guid').html('No data found ');
        }
        if (request.NumberOfPages != undefined && request.NumberOfPages != null)
        {
           

            var content = '<nav aria-label="Page navigation example">';
          
            content += '<ul class="pagination justify-content-end">';

            for (var i = 1; i <= request.NumberOfPages; i++) {
                if (i == request.CurrentPage) {
                    content += '<li class="page-item active">';
                    content += '<a class="page-link" href="#">' + i.toString() + ' <span class="sr-only">(current)</span></a>';
                    content += '</li>';
                }
                else {
                    content += '<li class="page-item"><a class="page-link" href="#" onclick="raisePageClick_@(guid)(' + i.toString() + ')">' + i.toString() + '</a ></li >';
                }
               
            }
            content += '</ul >';
            content += '</nav >';
            $('#table-paging-@guid').html(content);
        }

    });
    
</script>